@model labs.ModelView.SupplierViewModel
@using labs.Models;

<span style="color:mediumpurple"> Current Employees: </span>
<br />
@{
    WebGrid obj3 = new WebGrid(Model.Suppliers, rowsPerPage: 2, canPage: false, canSort: false);

}
@obj3.GetHtml()
