@model labs.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div>
        Product Number: @Model.ProductNumber
        <br />
        Product Name: @Model.ProductName
        <br />
        Product Cost: @Model.ProductCost
        <br />
        Product Quantity: @Model.ProductQuantity


    </div>
</body>
</html>
