@model labs.ModelView.SupplierViewModel
@using labs.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchPerfume</title>
</head>
<body>
    <div>
        <form action="SearchSupplier" method="post">
            Enter Supplier Name to search <input id="Text1" name="txtSupplierName" type="text" />
            <br />
            <input id="Submit1" type="submit" value="Search Supplier" />
        </form>
    </div>
    <br />
    @Html.Partial("DisplaySuppliers", Model)

    <br />
    @Html.ActionLink("Go Back To Home Page", "Index", "Home")
</body>
</html>
