
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h3 style="color:hotpink">About Us</h3>
    <div style="font-style:italic">
        <p>
            ברוך הבא לבושמטיק - פורטל בשמים וטיפוח הזול במדינה.
            <br />
            את בושמטיק הקמנו בתחילת 2010 כחנות בוטיק ביתית , חנות המאפשרת רכישת בשמים יוקרתיים במחירים הוגנים תוך מתן שירות אישי וקשוב.
            <br />
            במרוצת הזמן, נוכחנו לדעת כי קהל הלקוחות התרחב וגילינו פוטנציאל עשיר באפשרות להעניק את אותו השירות והמחירים האטרקטיביים גם באמצעות רכישה מקוונת. וכך, בשלהי 2011, הוקם אתר בושמטיק המאפשר רכישה נוחה וידידותית למשתמש במחירים נוחים ובדגש על שירות לקוחות יוצא דופן, אישי ואמין.
            <br />
            <span style="color:hotpink">כי מגיע לכם הטוב ביותר</span>
        </p>

        <p>

            <br />
            האתר שלנו נבנה לאחר השקעת מחשבה מרובה ומתוך רצון להעניק לקהל לקוחותינו חווית קניה נוחה ונעימה.
            <br />
            ההתמצאות באתר, ממש כמו בחנות שלנו, הינה פשוטה ונגישה, האתר מחולק לקטגוריות בצורה ברורה ומעוצבת, כל בושם מוצג לראווה בדיוק כפי שהוא מוצג בחנות ומידע אודות כל פריט מאפשר קנייה בטוחה ונינוחה. חווית הקנייה שלכם היא הראשונה במעלה ולכן אנו מקפידים על הענקת ליווי ויחס אישי לכל לקוח ולכל אורך הדרך.
        </p>

        <p>
            מה תוכלו למצוא באתר בושמטיק?
            <br />
            באתר בושמטיק תוכלו למצוא את מיטב הבשמים המובילים בעולם במגוון ניחוחות מוכרים ואהובים ובמחירים זולים יותר ממחירי השוק הקיימים.
            <br />
            אנו מבטיחים לקהל לקוחותינו מוצרים מקוריים אשר יובאו ישירות מבית המותג. האתר מציע בשמים של מותגים מקוריים, בשמים נדירים בהשקה ייחודית, בשמים לאישה ובשמים לגבר. כמו כן, תוכלו למצוא באתר בשמים מקוריים באריזת טסטר הנמכרים במחירים מוזלים בצורה משמעותית. בקטגוריית המבצעים שבאתר תוכלו להתרשם ממבצעים שונים המשתנים תכופות.
            <br />
            אנו מזמינים אתכם להצטרף לרשימת התפוצה שלנו, לקבל הטבות וקופונים והודעות אודות מבצעים, ישירות לתיבת המייל האישית שלכם.

        </p>
        <p>
            כיצד מתבצע תהליך הקנייה?
            <br />
            ביצוע ההזמנה באתר מתאפשר 24 שעות ביממה בכל ימות השבוע פרט ליום השבת, תוך שמירה על פרטי הלקוח בצורה מאובטחת. בתום בחירת הפריט המבוקש, תועברו לסל הקנייה האישי שלכם ומיד לאחר ביצוע התשלום, פריטי ההזמנה יארזו בצרוף מתנה קטנה (בהתאם למלאי הקיים) וישלחו לכתובת אשר מילאתם בעת ביצוע ההזמנה.
            <br />
            במידה ועולות שאלות או בקשות רכישה מיוחדות אנו עומדים לרשותכם במוקד ההזמנות שלנו בטלפון 073-4337006 בין השעות  10:00- 20.00. מחירי הרכישה הטלפונית זהים לרכישה המקוונת באתר.
        </p>
        <p>
            אפשרויות שילוח:
            <br />
            רוב ההזמנות שהתבצעו עד השעה 18:30 ישלחו עד למחרת בשעה 10:00, הזמנות שהתבצעו לאחר מכן  תשלחנה ביום שלמחרת. ניתן לבחור בין מספר אפשרויות שילוח:
            <br />

            דואר רשום – דואר רשום, באמצעות דואר ישראל, נשלח ללא כל עלות נוספת וזמן ההגעה המשוער הינו בין 3-7 ימי עסקים, ישירות לסניף הדואר הקרוב לביתכם.
            <br />
            boxit -  ההזמנה תשלח ללקור הקרוב שבחרתם
            <br />

            דואר אקספרס – מתבצע באמצעות חברת הארץ או חברת שליחויות, בתוספת של 29₪ עד לבית הלקוח כאשר זמן ההגעה המשוער הינו בין 1-3 ימי עסקים.
            איסוף עצמי - יש אפשרות לאיסוף עצמי מרחוב מיכאל 2 חיפה בתאום מראש במספר 073-4337006 .

        </p>
    </div>
</body>
@Html.ActionLink("Go Back To Home Page", "Index", "Home")
</html>
